<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>NICKELODEON HOTELS</h1>
            <p>The family that stays together plays together. Whether you and the crew choose to explore our <strong>AquaNick</strong> water park in search of a splashin' good time, roam around our <strong>Gourmet Village</strong> for delicious and diverse bites, meet up first thing in the morning with some of your favorite Nick characters at our <strong>Character Breakfast</strong>, or just plain lay out and soak in the sun on our <strong>golden Caribbean beach</strong>, there's plenty of fun in store for the entire bunch when you check into <strong>Nickelodeon Hotels</strong></p>

            <p><strong>- LuxuriousNick-themed villas andswim-up suites</strong><br><strong>- Aqua Nick®: </strong>access to our guest favorite water park<br><strong>- Nickelodeon Fun withWorld-Class Gourmet Inclusive®Experiences</strong><br><strong>- Play for Days: </strong>Club Nick – a hangout just for kids, Plaza Orange  Character Centralfor dance parties,character meet Greets, immersive theater experience, Slime!  more<br><strong>- Five-star luxury, </strong>playfulness and <strong>the warm hospitality </strong>that makes Dominican Republicsuch a beloved destination</p>
            <i class="bi bi-airplane fs-1 text-danger"></i>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/servicio1.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/servicio2.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/servicio3.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/servicio4.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/servicio5.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
            </div>
        </div>
    </div>
</div>